@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 154 30% 95%;
  --foreground: 153 28% 14%;
  --card: 0 0% 100%;
  --card-foreground: 153 28% 14%;
  --popover: 0 0% 100%;
  --popover-foreground: 153 28% 14%;
  --primary: 158 80% 39%;
  --primary-hover: 159 87% 31%;
  --primary-foreground: 0 0% 100%;
  --secondary: 154 30% 95%;
  --secondary-foreground: 153 28% 14%;
  --muted: 154 30% 95%;
  --muted-foreground: 152 15% 42%;
  --accent: 154 30% 95%;
  --accent-foreground: 153 28% 14%;
  --destructive: 0 72% 51%;
  --destructive-hover: 0 69% 45%;
  --destructive-light: 0 5% 97%;
  --destructive-border: 0 91% 71%;
  --destructive-foreground: 0 0% 100%;
  --border: 151 33% 86%;
  --input: 151 33% 86%;
  --ring: 158 80% 39%;
  --radius: 0.5rem;

  --brand-header: 207 75% 23%;
  --brand-header-foreground: 0 0% 100%;
  --brand-ocean: 207 100% 39%;
  --brand-ocean-hover: 207 100% 31%;
  --brand-ocean-light: 206 7% 97%;
  --brand-upload-bar: 160 53% 20%;
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background font-sans text-foreground;
  }
}
